<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>dom.dima.learning.javaee.archive.MainServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>catalog</servlet-name>
    <servlet-class>dom.dima.learning.javaee.archive.CatalogServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>error404</servlet-name>
    <servlet-class>dom.dima.learning.javaee.archive.errors.Error404Servlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>catalog</servlet-name>
    <url-pattern>/catalog</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>error404</servlet-name>
    <url-pattern>/error404</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/error404</location>
  </error-page>

</web-app>